---
apiVersion: v1
kind: Namespace
metadata:
  name: ctlplane
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: ctlplane-rbac
subjects:
  - kind: ServiceAccount
    name: default
    namespace: {{ cpu_ctlplane_namespace }}
roleRef:
  kind: ClusterRole
  name: cluster-admin
  apiGroup: rbac.authorization.k8s.io
