# Default values for intel_cpu_controlplane.

intel_cpu_controlplane:
  image:
    repository: "{{ registry_local_address}}/{{ cpu_ctlplane_local_build_name }}"
    tag: "{{ cpu_ctlplane_version }}"
    pullPolicy: IfNotPresent

  # container runtime: one of ['contianerd', 'docker']
  runtime : "{{ container_runtime }}"

  # NUMA allocator: one of ['default', 'numa', 'numa-namespace', 'numa-namespace-exclusive']
  # https://github.com/intel/cpu-control-plane-plugin-for-kubernetes/blob/main/README.md
  allocator: "{{ intel_cpu_controlplane.allocator }}"

  enable_memory_pinning: {{ intel_cpu_controlplane.enable_memory_pinning }}

  # control plane agent namespace
  agent_namespace_prefix: "{{ intel_cpu_controlplane.agent_namespace_prefix }}"

  imagePullSecrets: []
