apiVersion: certificates.k8s.io/v1
kind: CertificateSigningRequest
metadata:
  name: registry.{{ registry_namespace }}
spec:
  signerName: kubernetes.io/kubelet-serving
  request: {{ registry_csr }}
  usages:
  - digital signature
  - key encipherment
  - server auth
