{
  "hosts": [
    "docker-registry.kube-system.svc.{{ cluster_name }}",
    "docker-registry.kube-system.svc",
    "docker-registry.kube-system",
    "localhost",
    "127.0.0.1"
  ],
  "CN": "localhost",
  "key": {
    "algo": "rsa",
    "size": 2048
  }
}
