---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ registry_tls_secret_name }}
  namespace: {{ registry_namespace }}
  labels:
    app: {{ registry_release_name }}
data:
  tls.crt: '{{ registry_cert_base64 }}'
  tls.key: '{{ registry_key_base64 }}'
