{
  "hosts": [
    "container-registry.kube-system.svc.{{ cluster_name }}",
    "container-registry.kube-system.svc",
    "container-registry.kube-system",
    "localhost",
    "{{ groups['kube_control_plane'][0] }}",
{% if hostvars[groups['kube_control_plane'][0]].adq_dp.enabled | default(false) %}
    "{{ hostvars[groups['kube_control_plane'][0]].adq_dp.interface_address }}",
{% endif %}
    "127.0.0.1"
  ],
  "CN": "system:node:localhost",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [{
    "O": "system:nodes"
  }]
}
