---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ registry_pvc_name }}
  namespace: {{ registry_namespace }}
  labels:
    app: {{ registry_release_name }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ registry_size }}
  storageClassName: manual
