---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ registry_htpasswd_secret_name }}
  namespace: {{ registry_namespace }}
  labels:
    app: {{ registry_release_name }}
stringData:
  haSharedSecret: {{ registry_htpasswd.stdout_lines[0] }}
