---
# Source: docker-registry/templates/secret.yaml
apiVersion: v1
kind: Secret
metadata:
  name: {{ release_name }}-docker-registry-secret
  labels:
    app: docker-registry
    release: {{ release_name }}
type: Opaque
data:
  haSharedSecret: {{ htpasswd.stdout_lines[0] | b64encode }}
