[Unit]
Description=SST-BF configuration on boot
AssertPathExists={{ clx_sst_bf_exec }}

[Service]
Type=simple
ExecStart={{ clx_sst_bf_exec }} -{{ clx_sst_bf_mode }}

[Install]
WantedBy=multi-user.target
