---
image:
  repository: {{ cmk_image | default("localhost:30500/cmk") }}
  tag: {{ cmk_tag |  default("v1.5.2") }}
  pullPolicy: IfNotPresent

hosts:
  all: {{ cmk_use_all_hosts | default(false) }}
  list: {{ ((cmk_hosts_list.split(',')) | map('extract', hostvars, 'ansible_hostname') | list | join(',')) | default("node1") }}

sharedMode: {{ cmk_shared_mode | default("packed") }}
numSharedCores: {{ cmk_shared_num_cores | default(1) }}
exclusiveMode: {{ cmk_exclusive_mode | default("packed") }}
numExclusiveCores: {{ cmk_exclusive_num_cores | default(1) }}

noTaint: {{ cmk_untaint_nodes | bool | default(true) }}

webhook:
  cert: {{ cmk_webhook_server_cert }}
  key: {{ cmk_webhook_server_key }}
  caBundle: {{ caBundle_cert }}
