{
  "hosts": [
    "cmk-webhook.{{ cmk_namespace }}.svc.{{ cluster_name }}",
    "cmk-webhook.{{ cmk_namespace }}.svc",
    "cmk-webhook.{{ cmk_namespace }}"
  ],
  "CN": "cmk-webhook.{{ cmk_namespace }}.svc.{{ cluster_name }}",
  "key": {
    "algo": "rsa",
    "size": 2048
  }
}
