replicas: 1
minimumMasterNodes: 1
createCert: false

networkHost: "0.0.0.0"

resources:
  requests:
    cpu: "1000m"
    memory: "2Gi"
  limits:
    cpu: "1000m"
    memory: "3Gi"

volumeClaimTemplate:
  accessModes: ["ReadWriteOnce"]
  storageClassName: elasticsearch
  selector:
    matchLabels:
      name: "elasticsearch-pv"
  resources:
    requests:
      storage: 30Gi

extraEnvs:
  - name: ingest.geoip.downloader.enabled
    value: "false"

persistence:
  enabled: true
  labels:
    # Add default labels for the volumeClaimTemplate of the StatefulSet
    enabled: false
  annotations: {}

# Disable it to use your own elastic-credential Secret.
secret:
  enabled: true
  password: "" # generated randomly if not defined

esJvmOptions:
 processors.options: |
   -XX:ActiveProcessorCount={{ nproc_output.stdout }}

esConfig:
  elasticsearch.yml: |
    xpack.security.enabled: true
    xpack.security.transport.ssl.enabled: true
    xpack.security.transport.ssl.verification_mode: certificate
    xpack.security.transport.ssl.client_authentication: required
    xpack.security.transport.ssl.key: /usr/share/elasticsearch/config/certs/tls.key
    xpack.security.transport.ssl.certificate: /usr/share/elasticsearch/config/certs/tls.crt
    xpack.security.transport.ssl.certificate_authorities: /usr/share/elasticsearch/config/certs/ca.crt
    xpack.security.http.ssl.enabled: true
    xpack.security.http.ssl.client_authentication: optional
    xpack.security.http.ssl.key: /usr/share/elasticsearch/config/certs/tls.key
    xpack.security.http.ssl.certificate: /usr/share/elasticsearch/config/certs/tls.crt
    xpack.security.http.ssl.certificate_authorities: /usr/share/elasticsearch/config/certs/ca.crt

secretMounts:
  - name: elastic-certificates
    secretName: elasticsearch-tls
    path: /usr/share/elasticsearch/config/certs
