{%- set driver_pool = [] -%}
{%- for i_node in groups['kube_node'] -%}
{%- for i_pool in hostvars[i_node]['cndp_dp_pools'] -%}
{%- for i_attr, i_value in (i_pool | dict2items | selectattr("key", "in", ["drivers"]) | list | items2dict).items() -%}
{%- for vv in i_value|list -%}
{{ driver_pool.append(vv|string) }}
{%- endfor -%}
{%- endfor -%}
{%- endfor -%}
{%- endfor -%}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: afxdp-dp-config
  namespace: kube-system
data:
  config.json: |
    {
        "logLevel": "debug",
        "logFile": "afxdp-dp.log",
        "pools": [
          {
            "name": "raPool",
            "mode": "primary",
            "drivers": [
{%- for pf_driver in driver_pool|unique %}
               {
                 "name":{{pf_driver|tojson}}
               }{% if not loop.last %},{% endif %}
{%- endfor %}
            ]
          }
        ]
    }
