apiVersion: deviceplugin.intel.com/v1
kind: SgxDevicePlugin
metadata:
  name: intel-sgx-device-plugin
spec:
  image: {{ intel_sgx_dp_image }}
  initImage: {{ intel_sgx_dp_init_image }}
  enclaveLimit: {{ sgx_dp_enclave_limit | default(20) }}
  provisionLimit: {{ sgx_dp_provision_limit | default(20) }}
  logLevel: {{ sgx_dp_verbosity | default(4) }}
  nodeSelector:
    intel.feature.node.kubernetes.io/sgx: 'true'
    sgx.configured: 'true'
