##
##   Copyright (c) 2020-2023 Intel Corporation.
##
##   Licensed under the Apache License, Version 2.0 (the "License");
##   you may not use this file except in compliance with the License.
##   You may obtain a copy of the License at
##
##       http://www.apache.org/licenses/LICENSE-2.0
##
##   Unless required by applicable law or agreed to in writing, software
##   distributed under the License is distributed on an "AS IS" BASIS,
##   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
##   See the License for the specific language governing permissions and
##   limitations under the License.
##
---
# sriov-network-operator: github.com/k8snetworkplumbingwg/sriov-network-operator

sriov_network_charts_dir: "{{ (project_root_dir, 'charts', 'sriov-network-operator') | path_join }}"
sriov_network_policies_dir: "{{ (project_root_dir, 'charts', 'sriov-network-nodes-policies') | path_join }}"

sriov_network_operator_namespace: "sriov-network-operator"
sriov_network_operator_helm_release_name: "sriov-network-operator"

sriov_network_operator_version: "v1.2.0"
network_resources_injector_version: "v1.5"
ib_sriov_cni_version: "v1.0.2"

# helm values defaults
sriov_network_operator_images:
  operator: "ghcr.io/k8snetworkplumbingwg/sriov-network-operator:{{ sriov_network_operator_version }}"
  sriovConfigDaemon: "ghcr.io/k8snetworkplumbingwg/sriov-network-operator-config-daemon:{{ sriov_network_operator_version }}"
  sriovCni: "ghcr.io/k8snetworkplumbingwg/sriov-cni:{{ sriov_cni_version }}"
  ibSriovCni: "ghcr.io/k8snetworkplumbingwg/ib-sriov-cni:{{ ib_sriov_cni_version }}"
  sriovDevicePlugin: "{{ sriov_net_dp_image }}:{{ sriov_net_dp_tag }}"
  resourcesInjector: "ghcr.io/k8snetworkplumbingwg/network-resources-injector:{{ network_resources_injector_version }}"
  webhook: "ghcr.io/k8snetworkplumbingwg/sriov-network-operator-webhook:{{ sriov_network_operator_version }}"

sriov_resource_name_prefix: "intel.com"
sriov_network_operator_name_override: ""
sriov_network_operator_full_name_override: ""
sriov_network_operator_resource_prefix: "{{ sriov_resource_name_prefix }}"
sriov_network_operator_enable_admission_controller: "false"
sriov_network_operator_cni_bin_path: "/opt/cni/bin"
sriov_network_operator_cluster_type: "kubernetes"

# node policy configuration defaults
sriov_resource_name: "intelnics"
sriov_vf_default_mtu: "1500"
sriov_vf_default_vendor: "8086"
sriov_vf_default_priority: "99"
sriov_vf_is_rdma: "false"
sriov_vf_link_type: "eth"
