apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    k8s-app: collectd
    app.kubernetes.io/name: collectd
  name: collectd
  namespace: monitoring
spec:
  endpoints:
  - bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
    interval: {{ collectd_scrap_interval }}s
    port: https
    scheme: https
    tlsConfig:
      insecureSkipVerify: false
      serverName: collectd
      caFile: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
  selector:
    matchLabels:
      app: collectd-service
