apiVersion: v1
kind: PersistentVolume
metadata:
  name: kube-prometheus-grafana
  namespace: monitoring
  labels:
    name: kube-prometheus-grafana
spec:
  capacity:
    storage: 1Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: kube-prometheus
  local:
    path: /etc/grafana
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - {{ hostvars[groups['kube-node'][0]]['ansible_hostname'] }}
