apiVersion: v1
kind: PersistentVolume
metadata:
  name: kube-prometheus-prometheus
  namespace: monitoring
  labels:
    name: kube-prometheus-prometheus
    app.kubernetes.io/component: prometheus
    app.kubernetes.io/name: prometheus
    app.kubernetes.io/part-of: kube-prometheus
    app.kubernetes.io/version: 2.29.1
spec:
  capacity:
    storage: 20Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: kube-prometheus
  local:
    path: /etc/prometheus
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - {{ hostvars[groups['kube_node'][0]]['ansible_hostname'] }}
