---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: prometheus-pv
  namespace: monitoring
  labels:
    name: prometheus-pv
    app.kubernetes.io/component: prometheus-pv
    app.kubernetes.io/name: prometheus-pv
    app.kubernetes.io/part-of: kube-prometheus
    app.kubernetes.io/version: {{ prometheus_stack_version }}
spec:
  capacity:
    storage: 20Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: kube-prometheus
  local:
    path: /etc/prometheus
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
{% if on_cloud|d(false) %}
                - {{ hostvars[groups['kube_node'][0]]['ansible_nodename'] }}
{% else %}
                - {{ hostvars[groups['kube_node'][0]]['ansible_hostname'] }}
{% endif %}
