[ssh_connection]
pipelining=True
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o ConnectionAttempts=100 -o UserKnownHostsFile=/dev/null

[defaults]
force_valid_group_names = ignore
display_skipped_hosts = no
host_key_checking = False
gathering = smart
stdout_callback = debug

fact_caching = jsonfile
fact_caching_connection = /tmp
fact_caching_timeout = 7200

action_plugins=./action_plugins:~/.ansible/plugins/action:/usr/share/ansible/plugins/action
