[ssh_connection]
pipelining = True
ssh_args = -o ServerAliveInterval=60 -o ControlMaster=auto -o ControlPersist=30m -o ConnectionAttempts=100 -o UserKnownHostsFile=/dev/null

[defaults]
force_valid_group_names = ignore
display_skipped_hosts = no
host_key_checking = False
gathering = smart
stdout_callback = debug
callbacks_enabled = timer, profile_tasks, profile_roles

fact_caching = jsonfile
fact_caching_connection = /tmp
fact_caching_timeout = 7200

action_plugins = ./action_plugins:~/.ansible/plugins/action:/usr/share/ansible/plugins/action
library = ./library
