[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "~=7.0.0"
"ansible-core" = "~=2.12"
cryptography = "~=41.0"
jinja2 = "~=3.1"
netaddr = "~=0.7.19"
pbr = "~=5.4"
jmespath = "~=0.9.5"
"ruamel.yaml" = "~=0.17.21"
"ruamel.yaml.clib" = "~=0.2.6"
MarkupSafe = "~=2.1"
ipaddr = "*"

[dev-packages]
ansible-lint = "~=6.12.1"
pylint = "~=2.15.4"
bandit = "~=1.7.4"

[requires]
python_version = "3"
