---
apiVersion: "power.intel.com/v1"
kind: PowerConfig
metadata:
  name: power-config
  namespace: {{ kubernetes_power_manager_namespace }}
spec:
  powerNodeSelector:
    # Add labels here for the Nodes you want the PowerNodeAgent to be applied to
    intel.power.node: "true"
  # Add wanted PowerProfiles here; valid entries are as follows:
  # performance
  # balance-performance
  # balance-power
  powerProfiles: {{ combined_profiles }}
