---
apiVersion: v1
kind: Secret
metadata:
  name: prometheus-srv-basic-auth-secret
  namespace: monitoring
  labels:
    app: prometheus
    prometheus: k8s
type: Opaque
data:
  haSharedSecret: {{ htpasswd.stdout_lines[0] | b64encode }}
