apiVersion: v1
kind: Pod
metadata:
  name: "{{ intel_media_analytics_sample_pod_name }}-{{ hostvars[item]['ansible_hostname'] }}"
  namespace: "{{ intel_media_analytics_namespace }}"
spec:
  nodeSelector:
    kubernetes.io/hostname: "{{ hostvars[item]['ansible_hostname'] }}"
  securityContext:
    runAsUser: 1000
    runAsGroup: {{ hostvars[item].gpu_stat_gid.stat.gid }}
  containers:
  - name: "{{ intel_media_analytics_sample_pod_name }}-{{ hostvars[item]['ansible_hostname'] }}"
    image: {{ registry_local_address }}/{{ intel_media_analytics_local_build_name }}:{{ intel_media_analytics_image_tag }}
    command: ['sh', '-c', 'echo "Hello, Media Analytics!" && sleep infinity']
{%- if gpu_dp_enabled == true %}  
    resources:
      limits:
        gpu.intel.com/i915: 1
{% endif %}
    volumeMounts:
    - mountPath: /tmp
      name: tmp
    - mountPath: /dev/dri
      name: dev-dri

  volumes:
  - name: tmp
    hostPath:
      path: /tmp
      type: Directory
  - name: dev-dri
    hostPath:
      path: /dev/dri
