---
image:
  repository: {{ nfd_image |d("k8s.gcr.io/nfd/node-feature-discovery") }}
  # This should be set to 'IfNotPresent' for released version
  pullPolicy: IfNotPresent
  # tag, if defined will use the given image tag, else Chart.AppVersion will be used
  tag: {{ nfd_image_tag |d("v0.11.1") }}
imagePullSecrets: []

gpu_dp:
  enabled: {{ gpu_dp_enabled | default(false) | bool | lower }}
{% if gpu_dp_max_memory is defined %}
  max_memory: "{{ gpu_dp_max_memory | human_to_bytes }}"
{% else %}
  max_memory: "0"
{% endif %}

nameOverride: ""
fullnameOverride: ""

nodeFeatureRule:
  createCRD: true

master:
  instance:
{% if sgx_dp_enabled | default(false) or gpu_dp_enabled | default(false) %}
  extraLabelNs:
{% if sgx_dp_enabled | default(false) %}
    - "sgx.intel.com"
{% endif %}
{% if gpu_dp_enabled | default(false) %}
    - "gpu.intel.com"
{% endif %}
  resourceLabels:
{% if sgx_dp_enabled | default(false) %}
    - "sgx.intel.com/epc"
{% endif %}
{% if gpu_dp_enabled | default(false) %}
    - "gpu.intel.com/memory.max"
    - "gpu.intel.com/millicores"
{% endif %}
{% else %}
  extraLabelNs: []
  resourceLabels: []
{% endif %}

  featureRulesController: null
  deploymentAnnotations: {}
  replicaCount: 1

  podSecurityContext: {}
    # fsGroup: 2000

  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop: [ "ALL" ]
    readOnlyRootFilesystem: true
    runAsNonRoot: true
    # runAsUser: 1000

  serviceAccount:
    # Specifies whether a service account should be created
    create: {{ nfd_sa_create | default(true) | bool | lower }}
    # Annotations to add to the service account
    annotations: {}
    # The name of the service account to use.
    # If not set and create is true, a name is generated using the fullname template
    name: {{ nfd_sa_name | default(false) | bool | lower }}

  rbac:
    create: {{ nfd_rbac_enabled | default(true) | bool | lower }}

  service:
    type: {{ nfd_svc_type }}
    port: {{ nfd_svc_port }}

  resources: {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

  nodeSelector: {}

  tolerations:
  - key: "node-role.kubernetes.io/master"
    operator: "Equal"
    value: ""
    effect: "NoSchedule"
  - key: "node-role.kubernetes.io/control-plane"
    operator: "Equal"
    value: ""
    effect: "NoSchedule"

  annotations: {}

  affinity:
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 1
          preference:
            matchExpressions:
              - key: "node-role.kubernetes.io/master"
                operator: In
                values: [""]
        - weight: 1
          preference:
            matchExpressions:
              - key: "node-role.kubernetes.io/control-plane"
                operator: In
                values: [""]

worker:
  config:
    core:
      sleepInterval: {{ nfd_sleep_interval |d("60s") }}

  daemonsetAnnotations: {}
  podSecurityContext: {}
    # fsGroup: 2000

  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop: [ "ALL" ]
    readOnlyRootFilesystem: true
    runAsNonRoot: true
    # runAsUser: 1000

  serviceAccount:
    # Specifies whether a service account should be created.
    # We create this by default to make it easier for downstream users to apply PodSecurityPolicies.
    create: {{ nfd_sa_create | default(false) | bool | lower }}
    # Annotations to add to the service account
    annotations: {}
    # The name of the service account to use.
    # If not set and create is true, a name is generated using the fullname template
    name: {{ nfd_sa_name | default(false) | bool | lower }}

  # Allow users to mount the hostPath /usr/src, useful for RHCOS on s390x
  # Does not work on systems without /usr/src AND a read-only /usr, such as Talos
  mountUsrSrc: false

  resources: {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

  nodeSelector: {}

  tolerations: []

  annotations: {}

  affinity: {}

topologyUpdater:
  enable: false
  createCRDs: false

  serviceAccount:
    create: false
    annotations: {}
    name:
  rbac:
    create: false

  kubeletConfigPath:
  kubeletPodResourcesSockPath:
  updateInterval: 60s
  watchNamespace: "*"

  podSecurityContext: {}
  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop: [ "ALL" ]
    readOnlyRootFilesystem: true
    runAsUser: 0

  resources: {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

  nodeSelector: {}
  tolerations: []
  annotations: {}
  affinity: {}

# Optionally use encryption for worker <--> master comms
# TODO: verify hostname is not yet supported
#
# If you do not enable certManager (and have it installed) you will
# need to manually, or otherwise, provision the TLS certs as secrets
tls:
  enable: true
  certManager: {{ cert_manager_enabled |d(false) }}
