---
apiVersion: policy/v1beta1
kind: PodSecurityPolicy
metadata:
  name: collectd
spec:
  allowPrivilegeEscalation: true
  allowedCapabilities:
  - '*'
  allowedUnsafeSysctls:
  - '*'
  fsGroup:
    rule: RunAsAny
  hostNetwork: true
  hostPorts:
  - max: 9104
    min: 9103
  privileged: true
  runAsUser:
    rule: RunAsAny
  seLinux:
    rule: RunAsAny
  supplementalGroups:
    rule: RunAsAny
  allowedHostPaths:
    - pathPrefix: "{{ host_collectd_folder }}"
    - pathPrefix: "/proc"
    - pathPrefix: "/usr/local/var/run/openvswitch/"
    - pathPrefix: "/var/run/.client"
    - pathPrefix: "/var/run/dpdk/rte/telemetry"
    - pathPrefix: "/sys/devices/virtual/powercap/intel-rapl/"
    - pathPrefix: "/sys/kernel/mm/hugepages"
    - pathPrefix: "/sys/devices/system/cpu"
  volumes:
    - "configMap"
    - "downwardAPI"
    - "emptyDir"
    - "persistentVolumeClaim"
    - "secret"
    - "projected"
    - "hostPath"