{% for profile in instance_profiles %}
{% for i in range(profile.vm_count) %}
resource "aws_instance" "{{ profile.name }}_{{ i }}" {
  ami                    = "{{ profile.ami_id }}"
  instance_type          = "{{ profile.instance_type }}"

  vpc_security_group_ids = [aws_security_group.sg-{{ job_id }}.id]
  subnet_id              = aws_subnet.{{ profile.subnet }}.id
  key_name               = aws_key_pair.default.key_name

  root_block_device {
    volume_size = {{ profile.root_volume_size }}
    volume_type = "{{ profile.root_volume_type }}"
  }

  tags = merge(
    jsondecode("{{ extra_tags_json }}"),
    {
      Name  = "cwdf-infra-{{ job_id }}-instance-{{ profile.name }}-{{ i }}"
      JobId = "{{ job_id }}"
    }
  )
}
{% endfor %}
{% endfor %}
