resource "aws_kms_key" "ecr_default" {
  description             = "ECR {{ job_id }} Default Repository Key"
  deletion_window_in_days = 7
  enable_key_rotation     = true

  tags = merge(
    jsondecode("{{ extra_tags_json }}"),
    {
      Name  = "cwdf-infra-{{ job_id }}-ecr-default-key"
      JobId = "{{ job_id }}"
    }
  )
}

resource "aws_ecr_repository" "default" {
  name                 = "cwdf-infra-{{ job_id }}-ecr-repository"
  image_tag_mutability = "IMMUTABLE"
  force_delete         = true
  image_scanning_configuration {
    scan_on_push = true
  }
  encryption_configuration {
 		encryption_type = "KMS"
 		kms_key = aws_kms_key.ecr_default.arn
 	}

  tags = merge(
    jsondecode("{{ extra_tags_json }}"),
    {
      Name  = "cwdf-infra-{{ job_id }}-ecr-repository"
      JobId = "{{ job_id }}"
    }
  )
}

{% for name in ecr_repositories %}
resource "aws_kms_key" "{{ name }}" {
  description             = "ECR {{ job_id }} {{ name }} Repository Key"
  deletion_window_in_days = 7
  enable_key_rotation     = true

  tags = merge(
    jsondecode("{{ extra_tags_json }}"),
    {
      Name  = "cwdf-infra-{{ job_id }}-ecr-{{ name }}-key"
      JobId = "{{ job_id }}"
    }
  )
}

resource "aws_ecr_repository" "{{ name }}" {
  name                 = "{{ name }}"
  image_tag_mutability = "IMMUTABLE"
  force_delete         = true
  image_scanning_configuration {
    scan_on_push = true
  }
  encryption_configuration {
 		encryption_type = "KMS"
 		kms_key = aws_kms_key.{{ name }}.arn
 	}

  tags = merge(
    jsondecode("{{ extra_tags_json }}"),
    {
      Name  = "{{ name }}"
      JobId = "{{ job_id }}"
    }
  )
}
{% endfor %}

output "cr_url" {
  value = aws_ecr_repository.default.repository_url
}
