# SPDX-License-Identifier: Apache-2.0
# Copyright(c) Copyright 2018 CoreOS, Inc
#
# Modifications copyright (C) 2020 Intel Corporation
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kube-prometheus-prometheus
  namespace: monitoring
  labels:
    app.kubernetes.io/component: prometheus
    app.kubernetes.io/name: prometheus
    app.kubernetes.io/part-of: kube-prometheus
    app.kubernetes.io/version: 2.29.1
spec:
  storageClassName: kube-prometheus
  selector:
    matchLabels:
      name: kube-prometheus-prometheus
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
