# Default values for minio-operator.

operator:
  ## Setup environment variables for the Operator
  # env:
  #   - name: MINIO_OPERATOR_TLS_ENABLE
  #     value: "off"
  #   - name: CLUSTER_DOMAIN
  #     value: "cluster.domain"
  #   - name: WATCHED_NAMESPACE
  #     value: ""
  image:
    repository: {{ minio_operator_image | default("minio/operator") }}
    tag: {{ minio_operator_version | default("v4.4.28")}}
    pullPolicy: IfNotPresent
  imagePullSecrets: []
  initcontainers: []
  replicaCount: {{ minio_tenant_servers }}
  securityContext:
    runAsUser: 1000
    runAsGroup: 1000
    runAsNonRoot: true
    fsGroup: 1000
  nodeSelector: {}
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: storage
            operator: In
            values:
            - minio
  tolerations: []
  topologySpreadConstraints: []
  resources:
    requests:
      cpu: 200m
      memory: 256Mi
      ephemeral-storage: 500Mi

console:
  image:
    repository: {{ minio_console_image | default("minio/console") }}
    tag: {{ minio_console_version | default("v0.19.4")}}
    pullPolicy: IfNotPresent
  imagePullSecrets: []
  initcontainers: []
  replicaCount: 1
  nodeSelector: {}
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: storage
            operator: In
            values:
            - minio
  tolerations: []
  topologySpreadConstraints: []
  resources: {}
  securityContext:
    runAsUser: 1000
    runAsNonRoot: true
  ingress:
    enabled: false
    ingressClassName: ""
    labels: {}
    annotations: {}
    tls: []
    host: console.local
    path: /
    pathType: Prefix
  volumes: []
  volumeMounts: []
