{%- for pv in hostvars[item]['persistent_volumes'] %}
---
apiVersion: v1
kind: PersistentVolume
metadata:
   name: {{ pv.name }}-{{ item }}
spec:
   capacity:
      storage: {{ minio_tenant_volume_size }}Gi
   volumeMode: Filesystem
   accessModes:
   - {{ pv.accessMode }}
   persistentVolumeReclaimPolicy: {{ pv.persistentVolumeReclaimPolicy }}
   storageClassName: {{ pv.storageClassName }}
   local:
      path: {{ pv.mountPath }}
   nodeAffinity:
      required:
         nodeSelectorTerms:
         - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
              - {{ hostvars[item]['ansible_hostname'] }}
{% endfor %}
