{%- for ep in ep_data %}
{%- if pod_node[item] == ep['pod-name'] %}
  - hostname: {{ ep['pod-name'] }}
    ip: {{ ep['ips'] }}
    nodeName: {{ item }}
    targetRef:
      kind: Pod
      name: {{ ep['pod-name'] }}
      namespace: {{ minio_tenant_namespace }}
{% endif %}
{% endfor %}
