apiVersion: v1
description: Intel® GPU Aware Scheduling
name: gpu-aware-scheduling
version: "{{ gas_version }}"
sources:
  - https://github.com/intel/platform-aware-scheduling.git
appVersion: "{{ gas_version }}"
