apiVersion: v1
description: Intel® Telemetry Aware Scheduling
name: telemetry-aware-scheduling
version: "{{ tas_version }}"
sources:
  - https://github.com/intel/platform-aware-scheduling.git
appVersion: "{{ tas_version }}"
