[Unit]
Description=/sys/fs/resctrl automount

[Mount]
What=none
Where=/sys/fs/resctrl
Type=resctrl
Options=defaults

[Install]
WantedBy=multi-user.target

