#!/bin/bash

OPENVINO_VERSION="$1"

set -e

echo "openvino version is : $OPENVINO_VERSION"

if [ "${OPENVINO_VERSION}" = "default" ]; then
    # the latest openvino lts release is 2023.3.0
    OPENVINO_VERSION=2023.3.0
fi
echo "openvino version is : $OPENVINO_VERSION"

if [ "${OPENVINO_VERSION}" = "2024.1.0" ]; then

    python3 -m venv venv_openvino_2024 --prompt openvino_2024_dev
    source "$HOME"/venv_openvino_2024/bin/activate
    python3 -m pip install --upgrade pip
    pip install "openvino-dev[onnx,tensorflow,pytorch]==2024.1.0"
    ln -s "$HOME/venv_openvino_2024"  "$HOME/venv_openvino"

elif [ "${OPENVINO_VERSION}" = "2024.0.0" ]; then

    python3 -m venv venv_openvino_2024 --prompt openvino_2024_dev
    source "$HOME"/venv_openvino_2024/bin/activate
    python3 -m pip install --upgrade pip
    pip install "openvino-dev[onnx,tensorflow,pytorch]==2024.0.0"
    ln -s "$HOME/venv_openvino_2024"  "$HOME/venv_openvino"

elif [ "${OPENVINO_VERSION}" = "2023.3.0" ]; then

    python3 -m venv venv_openvino_2023 --prompt openvino_2023_dev
    source "$HOME"/venv_openvino_2023/bin/activate
    python3 -m pip install --upgrade pip
    pip install "openvino-dev[onnx,tensorflow,pytorch]==2023.3.0"
    ln -s "$HOME/venv_openvino_2023"  "$HOME/venv_openvino"

elif [ "${OPENVINO_VERSION}" = "2023.1.0" ]; then

    python3 -m venv venv_openvino_2023 --prompt openvino_2023_dev
    source "$HOME"/venv_openvino_2023/bin/activate
    python3 -m pip install --upgrade pip
    pip install "openvino-dev[onnx,tensorflow,pytorch]==2023.1.0"
    ln -s "$HOME/venv_openvino_2023"  "$HOME/venv_openvino"

elif [ "${OPENVINO_VERSION}" = "2023.0.0" ]; then

    python3 -m venv venv_openvino_2023 --prompt openvino_2023_dev
    source "$HOME"/venv_openvino_2023/bin/activate
    python3 -m pip install --upgrade pip
    pip install "openvino-dev[onnx,tensorflow,pytorch]==2023.0.0"
    ln -s "$HOME/venv_openvino_2023"  "$HOME/venv_openvino"

else

    python3 -m venv venv_openvino_2022 --prompt openvino_2022_dev
    source "$HOME"/venv_openvino_2022/bin/activate
    python3 -m pip install --upgrade pip
    pip install "openvino-dev[onnx,tensorflow,pytorch]==2022.3.0"
    ln -s "$HOME/venv_openvino_2022"  "$HOME/venv_openvino"
fi



py_gi_path=/usr/lib/python3/dist-packages/gi/
py_gstgva_path=/usr/lib/python3/dist-packages/gstgva/
py_pkg_path="$HOME/venv_openvino/lib/python3.10/site-packages/"

if [[ -d $py_gi_path ]]
then
    cp -a $py_gi_path $py_pkg_path
fi

if [[ -d $py_gstgva_path ]]
then
    cp -a $py_gstgva_path $py_pkg_path
fi
