resource "azurerm_resource_group" "default" {
  name     = "cwdf-infra-{{ job_id }}-rg"
  location = "{{ location }}"

  tags = merge(
    jsondecode("{{ extra_tags_json }}"),
    {
      Name  = "cwdf-infra-{{ job_id }}-rg"
      JobId = "{{ job_id }}"
    }
  )
}

{% if enable_proximity_placement == true %}
resource "azurerm_proximity_placement_group" "default" {
  name                = "cwdf-infra-{{ job_id }}-ppg"
  location            = azurerm_resource_group.default.location
  resource_group_name = azurerm_resource_group.default.name

  tags = merge(
    jsondecode("{\"Owner\": \"mzernovx\"}"),
    {
      Name  = "cwdf-infra-{{ job_id }}-ppg"
      JobId = "{{ job_id }}"
    }
  )
}
{% endif %}

resource "azurerm_virtual_network" "default" {
  name                = "cwdf-infra-{{ job_id }}-default-network"
  address_space       = ["{{ vpc_cidr_block }}"]
  location            = azurerm_resource_group.default.location
  resource_group_name = azurerm_resource_group.default.name

  tags = merge(
    jsondecode("{{ extra_tags_json }}"),
    {
      Name  = "cwdf-infra-{{ job_id }}-default-network"
      JobId = "{{ job_id }}"
    }
  )
}

{% for subnet in subnets %}
resource "azurerm_subnet" "{{ subnet.name }}" {
  name                 = "cwdf-infra-{{ job_id }}-subnet-{{ subnet.name }}"
  resource_group_name  = azurerm_resource_group.default.name
  virtual_network_name = azurerm_virtual_network.default.name
  address_prefixes     = ["{{ subnet.cidr_block }}"]
}
{% endfor %}

resource "azurerm_network_security_group" "default" {
  name                = "cwdf-infra-{{ job_id }}-default-sg"
  location            = azurerm_resource_group.default.location
  resource_group_name = azurerm_resource_group.default.name

  security_rule {
    name                       = "SSH"
    priority                   = 1001
    direction                  = "Inbound"
    access                     = "Allow"
    protocol                   = "Tcp"
    source_port_range          = "*"
    destination_port_range     = "22"
    source_address_prefixes    = [{% for cidr_block in sg_whitelist_cidr_blocks %}"{{cidr_block}}",{% endfor %}]
    destination_address_prefix = "*"
  }

  security_rule {
    name                       = "PING"
    priority                   = 1000
    direction                  = "Inbound"
    access                     = "Allow"
    protocol                   = "Icmp"
    source_port_range          = "8"
    destination_port_range     = "*"
    source_address_prefixes    = [{% for cidr_block in sg_whitelist_cidr_blocks %}"{{cidr_block}}",{% endfor %}]
    destination_address_prefix = "*"
  }

  tags = merge(
    jsondecode("{{ extra_tags_json }}"),
    {
      Name  = "cwdf-infra-{{ job_id }}-default-sg"
      JobId = "{{ job_id }}"
    }
  )
}

resource "azurerm_log_analytics_workspace" "default" {
  name                = "cwdf-infra-{{ job_id }}-default-law"
  location            = azurerm_resource_group.default.location
  resource_group_name = azurerm_resource_group.default.name
  sku                 = "PerGB2018"
  retention_in_days   = 30

  tags = merge(
    jsondecode("{{ extra_tags_json }}"),
    {
      Name  = "cwdf-infra-{{ job_id }}-default-law"
      JobId = "{{ job_id }}"
    }
  )
}

output "resource_group_name" {
  value = azurerm_resource_group.default.name
}

output "cloud_provider" {
  value = "azure"
}

data "azurerm_subscription" "current" {}

output "subscription_id" {
  value = data.azurerm_subscription.current.subscription_id
}