apiVersion: policy.sigstore.dev/v1alpha1
kind: ClusterImagePolicy
metadata:
  name: cosign-image-policy-pubkey
spec:
  images:
    - glob: "{{ cosign_registry_address }}/key/*"
  authorities:
    - key:
        secretRef:
          name: "{{ cosign_pubkey_secret }}"
