#jinja2: lstrip_blocks: True
# Universal properties
TYPE=Ethernet
DEVICE={{ item.value.interface }}
ONBOOT=yes
USERCTL=no
PEERDNS={{ item.value.peer_dns|default('no') }}
IPV6INIT=no
IPV6_AUTOCONF=no
BOOTPROTO={{ item.value.boot_protocol }}
{% if item.value.nm_controlled is defined %}
NM_CONTROLLED={{ item.value.nm_controlled }}
{% endif %}
{% if item.value.mac_address is defined %}
HWADDR={{ item.value.mac_address }}
{% endif %}
{% if item.value.boot_protocol == "dhcp" %}
DHCP_HOSTNAME={{ inventory_hostname }}
{% endif %}
{% if item.value.ip_address is defined %}
IPADDR={{ item.value.ip_address }}
PREFIX={{ item.value.prefix }}
{% endif %}
{% if item.value.default_route is defined %}
DEFROUTE={{ item.value.default_route }}
{% endif %}
{% if item.value.gateway is defined %}
GATEWAY={{ item.value.gateway }}
{% endif %}
