#jinja2: lstrip_blocks: True
# Universal properties
DEVICE={{ item.value.interface }}
ONBOOT=yes
{% if item.value.nm_controlled is defined %}
NM_CONTROLLED={{ item.value.nm_controlled }}
{% endif %}
USERCTL=no
PEERDNS=no
IPV6INIT=no
IPV6_AUTOCONF=no
