---
image:
   repository: {{ nfd_image | default("quay.io/kubernetes_incubator/node-feature-discovery") }}
   tag: {{ nfd_version | default("v0.5.0")}}
   pullPolicy: IfNotPresent

sleepInterval: {{ nfd_sleep_interval | default("60s")}}