---
apiVersion: deviceplugin.intel.com/v1
kind: DsaDevicePlugin
metadata:
  name: intel-dsa-plugin
spec:
  image: {{ intel_dsa_dp_image }}
  sharedDevNum: {{ dsa_shared_devices | default(10) }}
  logLevel: {{ dsa_dp_verbosity | default(4) }}
  nodeSelector:
    intel.feature.node.kubernetes.io/dsa: "true"
    dsa.configured: 'true'
