##
##   Copyright (c) 2020-2023 Intel Corporation.
##
##   Licensed under the Apache License, Version 2.0 (the "License");
##   you may not use this file except in compliance with the License.
##   You may obtain a copy of the License at
##
##       http://www.apache.org/licenses/LICENSE-2.0
##
##   Unless required by applicable law or agreed to in writing, software
##   distributed under the License is distributed on an "AS IS" BASIS,
##   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
##   See the License for the specific language governing permissions and
##   limitations under the License.
##
---
- name: create Intel CPU Control Plane Helm charts directory if needed
  ansible.builtin.file:
    path: "{{ (project_root_dir, 'charts', 'intel-cpu-controlplane', item) | path_join }}"
    state: directory
    mode: 0755
  loop:
    - ''
    - temp
    - sample

- name: copy Intel CPU Control Plane Helm charts to the controller node
  ansible.builtin.copy:
    src: "{{ (role_path, 'charts', 'intel-cpu-controlplane') | path_join }}"
    dest: "{{ (project_root_dir, 'charts') | path_join }}"
    mode: 0755

- name: populate Intel CPU Control Plane custom values on the controller node
  ansible.builtin.template:
    src: "custom_values.yml.j2"
    dest: "{{ (project_root_dir, 'charts', 'intel-cpu-controlplane', 'temp', 'custom-values.yml') | path_join }}"
    force: yes
    mode: preserve

- name: populate Intel CPU Control Plane sample pod on the controller node
  ansible.builtin.template:
    src: "sample_pod.yaml.j2"
    dest: "{{ (project_root_dir, 'charts', 'intel-cpu-controlplane', 'sample', 'sample-pod.yaml') | path_join }}"
    force: yes
    mode: preserve

- name: populate Intel CPU Control Plane sample stress pod on the controller node
  ansible.builtin.template:
    src: "sample_stress_pod.yaml.j2"
    dest: "{{ (project_root_dir, 'charts', 'intel-cpu-controlplane', 'sample', 'sample-stress-pod.yaml') | path_join }}"
    force: yes
    mode: preserve

- name: Install Intel CPU Control Plane
  kubernetes.core.helm:
    release_name: "{{ cpu_ctlplane_release_name }}"
    release_namespace: "{{ cpu_ctlplane_namespace }}"
    release_values: "{{ lookup('template', 'custom_values.yml.j2') | from_yaml }}"
    create_namespace: true
    chart_ref: "{{ (project_root_dir, 'charts', 'intel-cpu-controlplane') | path_join }}"
    chart_version: "{{ cpu_ctlplane_local_tag_name }}"
    wait: true
