---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: elasticsearch-data
  namespace: "{{ eck_namespace }}"
  labels:
    name: elasticsearch-data
    app.kubernetes.io/component: elasticsearch-data
    app.kubernetes.io/name: elasticsearch-data
    app.kubernetes.io/version: {{ eck_version }}
spec:
  capacity:
    storage: 35Gi
  volumeMode: Filesystem
  accessModes: ["ReadWriteOnce"]
  persistentVolumeReclaimPolicy: Retain
  storageClassName: elasticsearch
  local:
    path: /etc/elasticsearch
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - {{ hostvars[groups['kube_node'][0]]['ansible_hostname'] }}
