---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: elasticsearch
  namespace: "{{ eck_namespace }}"
  labels:
    app.kubernetes.io/component: elasticsearch
    app.kubernetes.io/name: elasticsearch
    app.kubernetes.io/version: {{ eck_version }}
provisioner: kubernetes.io/no-provisioner
reclaimPolicy: Retain
allowVolumeExpansion: false
