##
##   Copyright (c) 2020-2023 Intel Corporation.
##
##   Licensed under the Apache License, Version 2.0 (the "License");
##   you may not use this file except in compliance with the License.
##   You may obtain a copy of the License at
##
##       http://www.apache.org/licenses/LICENSE-2.0
##
##   Unless required by applicable law or agreed to in writing, software
##   distributed under the License is distributed on an "AS IS" BASIS,
##   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
##   See the License for the specific language governing permissions and
##   limitations under the License.
##
---
- name: combine defaults and user provided vars
  set_fact:
    istio_service_mesh: "{{ istio_service_mesh_defaults | combine(istio_service_mesh | default({}), recursive=True) }}"
  when:
    - inventory_hostname == groups['kube_control_plane'][0]

- name: determine machine type
  include_role:
    name: check_machine_type
  when:
    - inventory_hostname in groups['kube_node'] or
      inventory_hostname in groups['vm_host']
    - not on_vms | default (false)

- name: remove existing istio service mesh resources
  include_tasks: cleanup.yml
  when:
    - inventory_hostname == groups['kube_control_plane'][0]

- name: create istio-system namespace
  kubernetes.core.k8s:
    name: "{{ istio_service_mesh.istio_namespace }}"
    api_version: v1
    kind: Namespace
    state: present
  when:
    - inventory_hostname == groups['kube_control_plane'][0]

- name: deploy ebpf-tcpip-bypass
  include_tasks: tcpip-bypass-ebpf.yml
  when:
    - inventory_hostname == groups['kube_control_plane'][0]
    - istio_service_mesh.tcpip_bypass_ebpf.enabled | default(false) | bool

- name: configure custom CA signer for BMRA
  include_tasks: configure-custom-ca-signer.yml
  when:
    - not vm_enabled | default(false)
    - inventory_hostname == groups['kube_control_plane'][0]
    - istio_service_mesh.sgx_signer.enabled | default(false) | bool
    - hostvars[groups['kube_node'][0]]['is_icx'] or
      hostvars[groups['kube_node'][0]]['is_spr']

- name: configure custom CA signer for VMRA
  include_tasks: configure-custom-ca-signer.yml
  when:
    - on_vms | default(false)
    - inventory_hostname == groups['kube_control_plane'][0]
    - istio_service_mesh.sgx_signer.enabled | default(false) | bool
    - hostvars[groups['vm_host'][0]]['is_icx'] or
      hostvars[groups['vm_host'][0]]['is_spr']

- name: install istio service mesh
  include_tasks: istio-install.yml
  when:
    - inventory_hostname == groups['kube_control_plane'][0]

- name: fix the iptable-restore error by https://github.com/istio/istio/issues/23009
  modprobe:
    name: "{{ item }}"
    state: present
  with_items:
    - "br_netfilter"
    - "nf_nat"
    - "xt_REDIRECT"
    - "xt_owner"
    - "iptable_nat"
    - "iptable_mangle"
    - "iptable_filter"
  when:
    - ansible_distribution in ['RedHat', 'Rocky'] and inventory_hostname != groups['kube_control_plane'][0]

- name: deploy TLS splicing and bumping
  include_tasks: tls-splicing-and-bumping.yml
  when:
    - inventory_hostname == groups['kube_control_plane'][0]
    - istio_service_mesh.tls_splicing.enabled | default(false) | bool
    - istio_service_mesh.profile != 'empty'
