---
- name: preflight checks
  import_playbook: preflight.yml
  when: preflight_enabled | default(true) | bool
- name: configure target hosts OS layer
  import_playbook: infra/{{ playbook_name }}.yml
- name: deploy container runtime
  import_playbook: infra/container_runtime_deployment.yml
  when:
    - not kubernetes | default(true) and container_runtime_only_deployment | default(false)
    - not on_cloud | default(false)
- name: provision Kubernetes cluster using kubespray
  import_playbook: k8s/k8s.yml
  when:
    - kubernetes | default(true)
    - not on_cloud | default(false)
    - kube_provisioner == "kubespray"
- name: provision Kubernetes cluster using rke2
  import_playbook: k8s/rke2.yml
  when:
    - kubernetes | default(true)
    - not on_cloud | default(false)
    - kube_provisioner == "rke2"
- name: install Intel Container Experience Kit features
  import_playbook: intel/{{ playbook_name }}.yml
  when: kubernetes | default(true)
- name: run post deployment hooks
  import_playbook: k8s/post_deployment_hooks.yml
  when: post_deployment_hook_enabled | default(false)
