---
- name: SRIOV NIC and SRIOV QAT auto-detection
  import_playbook: autodetect.yml
- name: preflight checks
  import_playbook: preflight.yml
  when: preflight_enabled | default(true) | bool
- name: configure target hosts OS layer
  import_playbook: infra/{{ playbook_name }}.yml
- name: deploy container runtime
  import_playbook: infra/container_runtime_deployment.yml
  when:
    - not kubernetes | default(true) and container_runtime_only_deployment | default(false)
{% if playbook_name != 'on_prem_aibox' %}
- name: provision Kubernetes cluster using kubespray
  import_playbook: k8s/k8s.yml
  when:
    - kubernetes | default(true)
    - kube_provisioner == "kubespray"
- name: provision Kubernetes cluster using rke2
  import_playbook: k8s/rke2.yml
  when:
    - kubernetes | default(true)
    - kube_provisioner == "rke2"
{% endif %}
{% if playbook_name == 'on_prem_sw_defined_factory' %}
- name: install Intel ECI for non-k8s vm nodes
  import_playbook: intel/eci_basic.yml
  when: on_vms | default(false)
{% endif %}
- name: install Intel Container Experience Kit features
  import_playbook: intel/{{ playbook_name }}.yml
{% if playbook_name != 'on_prem_aibox' %}
  when: kubernetes | default(true)
{% endif %}
- name: run post deployment hooks
  import_playbook: k8s/post_deployment_hooks.yml
  when: post_deployment_hook_enabled | default(false)
