---
# Kubernetes node configuration

{% if sriov_network_dp in ['on', 'optional'] or qat in ['on', 'optional'] -%}
# Enable IOMMU (required for SR-IOV networking and QAT)
iommu_enabled: {% if sriov_network_dp == 'on' or qat == 'on' %}true{% else %}false{% endif %}
{% endif %}

{%- if sriov_network_dp in ['on', 'optional'] %}
# dataplane interface configuration list
dataplane_interfaces: []
#  - name: enp24s0f0                        # PF interface name
#    bus_info: "18:00.0"                    # pci bus info
#    pf_driver: ice                         # PF driver, "i40e", "ice"
{%- if ddp in ['on', 'optional'] %}
#    ddp_profile: "ice_comms-1.3.30.0.pkg"  # DDP package name to be loaded into the NIC
                                            # For i40e(XV710-*) allowable ddp values are: "ecpri.pkg", "esp-ah.pkg", "ppp-oe-ol2tpv2.pkgo", "mplsogreudp.pkg" and "gtp.pkgo", replace as required
                                            # For ice(E810-*) allowable ddp values are: ice_comms-1.3.[17,20,22,24,28,30].0.pkg  such as "ice_comms-1.3.30.0.pkg", replace as required
                                            # ddp_profile must be defined for first port of each network device. bifurcated cards will appear as unique devices.
{% endif %}
#    default_vf_driver: "iavf"              # default driver to be used with VFs if specific driver is not defined in the "sriov_vfs" section
#    sriov_numvfs: 6                        # total number of VFs to create including VFs listed in the "sriov_vfs" section.
                                            # If total number of VFs listed in the "sriov_vfs" section is greater than "sriov_numvfs" then excessive entities will be ignored.
                                            # VF's name should follow scheme: <arbitrary_vf_name>_<zero_started_index_of_vf>
                                            # If index in the VF's name is greater than "sriov_numfs - 1" such VF will be ignored.
#    sriov_vfs:                             # list of VFs to create on this PF with specific driver
#      vf_00: "vfio-pci"                    # VF driver to be attached to this VF under this PF. Options: "iavf", "vfio-pci", "igb_uio"
#      vf_05: "vfio-pci"

#  - name: enp24s0f1
#    bus_info: "18:00.1"
#    pf_driver: ice
{%- if ddp in ['on', 'optional'] %}
#    ddp_profile: "ice_comms-1.3.30.0.pkg"
{%- endif %}
#    default_vf_driver: "vfio-pci"
#    sriov_numvfs: 4
#    sriov_vfs: {}                   # no VFs with specific driver on this PF or "sriov_vfs" can be omitted for convenience

sriov_cni_enabled: {% if sriov_network_dp == 'on' %}true{% else %}false{% endif %}
{% endif %}

{%- if bond_cni in ['on', 'optional'] %}
# Bond CNI
bond_cni_enabled: {% if bond_cni == 'on' %}true{% else %}false{% endif %}
{% endif %}

{%- if dpdk in ['on', 'optional'] %}
# Install DPDK (required for SR-IOV networking)
install_dpdk: {% if dpdk == 'on' %}true{% else %}false{% endif %}
# DPDK version (will be in action if install_dpdk: true)
dpdk_version: "21.08"
# Custom DPDK patches local path
# dpdk_local_patches_dir: "/tmp/patches/dpdk-20.11"
{%- endif %}
{% if network_userspace in ['on', 'optional'] %}
# Userspace networking
userspace_cni_enabled: {% if network_userspace == 'on' %}true{% else %}false{% endif %}
ovs_dpdk_enabled: {% if ovs_dpdk == 'on' %}true{% else %}false{% endif %} # Should be enabled with Userspace CNI, when VPP is set to "false"; 1G hugepages required
ovs_version: "v2.16.0"
# CPU mask for OVS-DPDK PMD threads
ovs_dpdk_lcore_mask: 0x1
# Huge memory pages allocated by OVS-DPDK per NUMA node in megabytes
# example 1: "256,512" will allocate 256MB from node 0 abd 512MB from node 1
# example 2: "1024" will allocate 1GB from node 0 on a single socket board, e.g. in a VM
ovs_dpdk_socket_mem: "256,0"
vpp_enabled: {% if vpp == 'on'%}true{% else %}false{% endif %} # Should be enabled with Userspace CNI, when ovs_dpdk is set to "false"; 2M hugepages required
{% endif %}
# Set to 'true' to update i40e, ice and iavf kernel modules
update_nic_drivers: true
# Set 'true' to update NIC firmware
update_nic_firmware: false
# Additional list of NIC interfaces that the FW update will be executed on
# NOTE: FW update will be also executed on all NICs listed in "dataplane_interfaces[*].name"
firmware_update_nics: []
#  - enp24s0f0
#  - enp24s0f1

{% if sriov_network_dp in ['on', 'optional'] or qat in ['on', 'optional'] or network_userspace in ['on', 'optional'] -%}
# Enables hugepages support
hugepages_enabled: {% if sriov_network_dp == 'on' or qat == 'on' or network_userspace == 'on' %}true{% else %}false{% endif %}
# Hugepage sizes available: 2M, 1G
default_hugepage_size: {% if vpp == 'on' %}2M{% else %}1G{% endif %}
# Sets how many hugepages should be created
number_of_hugepages: 4
{% endif %}

{%- if ddp in ['on', 'optional'] %}
# install Intel x700 & x800 series NICs DDP packages
install_ddp_packages: {% if ddp == "on" %}true{% else %}false{% endif %}
# set 'true' to enable custom ddp package to be loaded after reboot
enable_ice_systemd_service: {% if ddp == "on" %}true{% else %}false{% endif %}
{% endif %}

{%- if qat in ['on', 'optional'] %}
# Enabling this feature will install QAT drivers + services
update_qat_drivers: {% if qat == "on" %}true{% else %}false{% endif %}

# qat interface configuration list
qat_devices: []
#  - qat_dev: crypto01                # Device name as separate QAT Symmetric Crypto devices on which qat_sriov_numvfs will be distributed
#    qat_id: "0000:ab:00.0"           # Device QAT id one using DPDK compatible driver for VF devices to be used by vfio-pci kernel driver, replace as required
#    qat_pci_type: c6xx               # QAT Crypto Poll Mode Pci Driver id supported are dh895xcc,c6xx,c3xxx,d15xx,200xx & c4xxx
#    qat_sriov_numvfs: 12             # set how many VFs per qat_id to be created such as c6xxvf support 48 so per device will be 16+16+16=48, replace as required
                                      # Note: If don't want to assign VFs to id leave it as 0 such as qat_sriov_numvfs: 0
#  - qat_dev: crypto02
#    qat_id: "0000:xy:00.0"
#    qat_pci_type: c6xx
#    qat_sriov_numvfs: 10

#  - qat_dev: crypto03
#    qat_id: "0000:yz:00.0"
#    qat_pci_type: c6xx
#    qat_sriov_numvfs: 10
{% endif %}

{%- if openssl in ['on', 'optional'] %}
# Install and configure OpenSSL cryptography
openssl_install: {% if openssl == 'on' and qat == "on" %}true{% else %}false{% endif %} # This requires update_qat_drivers set to 'true' in host vars
{% endif %}

{%- if cmk in ["on", "optional"] or sriov_network_dp in ["on", "optional"] or qat in ["on", "optional"] or network_userspace in ["on", "optional"] %}
# CPU isolation from Linux scheduler
{%- if cmk == "on" or sriov_network_dp == "on" or qat == "on" or network_userspace == "on" %}
isolcpus_enabled: true
{% else %}
isolcpus_enabled: false
{% endif %}
# Disable CMKs autogenerate_isolcpus in group_vars to set custom isolcpus range; Otherwise this range will be automatically generated
# If defining range and using CMK you must account group_vars requested exclusive/shared cores
isolcpus: "4-11"
{% endif %}

{%- if native_cpu_manager in ["on", "optional"] %}
# Native CPU Manager (Kubernetes built-in)
# These settings are relevant only if in group_vars native_cpu_manager_enabled: true 
# Amount of CPU cores that will be reserved for the housekeeping (2000m = 2000 millicores = 2 cores)
native_cpu_manager_system_reserved_cpus: 2000m
# Amount of CPU cores that will be reserved for Kubelet
native_cpu_manager_kube_reserved_cpus: 1000m
# Explicit list of the CPUs reserved from pods scheduling.
# Note: Supported only with kube_version 1.17 and newer, overrides native_cpu_manager_system_reserved_cpus and native_cpu_manager_kube_reserved_cpus.
#native_cpu_manager_reserved_cpus: "0,1,2"
# Note: All remaining unreserved CPU cores will be consumed by the workloads.
{% endif %}
{%- if pstate in ['on', 'optional'] or (sst in ['on', 'optional'] and arch == "clx") %}
# Enable/Disable Intel PState scaling driver
intel_pstate_enabled: {% if pstate == "on" or sst == "on" %}true{% else %}false{% endif %}
# Config options for intel_pstate: disable, passive, force, no_hwp, hwp_only, support_acpi_ppc, per_cpu_perf_limits
intel_pstate: {% if pstate == "on" or sst == "on" %}hwp_only{% else %}disable{% endif %}
# Enable/Disable Intel Turbo Boost PState attribute
turbo_boost_enabled: true
{% endif -%}

{% if sst in ["on", "optional"] %}
{%- if arch == "icx" %}
# Intel(R) SST-PP (perf-profile) configuration
# [true] Enable Intel(R) SST-PP (perf-profile)
# [false] Disable Intel(R) SST-PP (perf-profile)
sst_pp_configuration_enabled: {% if sst == "on" %}true{% else %}false{% endif %}
sst_pp_config_list:             # "enable" or "disable" list options per SST-PP setup requirements
    - sst_bf: "enable"          # "enable" or "disable" Intel(R) SST-BF (base-freq)  to configure with SST-PP
    - sst_cp: "enable"          # "enable" or "disable" Intel(R) SST-CP (core-power) to configure with SST-PP.
    - sst_tf: "enable"          # "enable" or "disable" Intel(R) SST-TF (turbo-freq) to configure with SST-PP.
      online_cpus_range: "auto" # "auto" will config turbo-freq for all available online CPUs or else define specific CPUs such as "2,3,5" to prioritize among others.
{% endif %}
# Intel Speed Select Base-Frequency configuration.
sst_bf_configuration_enabled: {% if sst == "on" %}true{% else %}false{% endif %}
{% if arch == "clx" %}
# Intel Speed Select Base-Frequency configuration for Cascade Lake (CLX) Platforms.
# CLX support of SST-BF requires 'intel_pstate' to be 'enabled'
# Option clx_sst_bf_mode requires sst_bf_configuration_enabled to be set to 'true'.
# There are three configuration modes:
# [s] Set SST-BF config (set min/max to 2700/2700 and 2100/2100)
# [m] Set P1 on all cores (set min/max to 2300/2300)
# [r] Revert cores to min/Turbo (set min/max to 800/3900)
clx_sst_bf_mode: s
{% endif %}
{%- if arch == "icx" %}
# Intel Speed Select Base-Frequency configuration for Ice Lake (ICX) Platforms.
# [true] Enable Intel Speed Select Base Frequency (SST-BF)
# [false] Disable Intel Speed Select Base Frequency (SST-BF)
# Requires `sst_bf_configuration_enabled` variable to be 'true'
icx_sst_bf_enabled: {% if sst == "on" %}true{% else %}false{% endif %}
# Prioritze (SST-CP) power flow to high frequency cores in case of CPU power constraints.
icx_sst_bf_with_core_priority: {% if sst == "on" %}true{% else %}false{% endif %}

# SST CP config
# Variables are only examples.
# For more information, please visit:
# https://www.kernel.org/doc/html/latest/admin-guide/pm/intel-speed-select.html#enable-clos-based-prioritization
# Enabling this configuration overrides `icx_sst_bf_with_core_priority`.
sst_cp_configuration_enabled: {% if sst == "on" %}true{% else %}false{% endif %}
sst_cp_priority_type: "1" # For Proportional select "0" and for Ordered select "1", update as required
sst_cp_clos_groups: # configure up to 4 CLOS groups
  - id: 0
    frequency_weight: 0 # used only with Proportional type
    min_MHz: 0
    max_MHz: 25500
  - id: 1
    frequency_weight: 0 # used only with Proportional type
    min_MHz: 0
    max_MHz: 25500
  - id: 2
    frequency_weight: 0 # used only with Proportional type
    min_MHz: 0
    max_MHz: 25500
  - id: 3
    frequency_weight: 0 # used only with Proportional type
    min_MHz: 0
    max_MHz: 25500
sst_cp_cpu_clos: # assign required values to CLOS group after priority type setup
  - clos: 0
    cpus: 1,2,4..6,8-10
  - clos: 1
    cpus: 3,7

# Intel(R) SST-TF (feature turbo-freq) configuration for Ice Lake (ICX) Platforms.
# [true] Enable Intel Speed Select Turbo Frequency (SST-TF)
# [false] Disable Intel Speed Select Base Frequency (SST-TF)
sst_tf_configuration_enabled: {% if sst == "on" %}true{% else %}false{% endif %}
{% endif %}
{% endif %}

{%- if rt_kernel in ['on', 'optional'] %}
# (CentOS 7 only) install real time kernel and related packages for flexran
install_real_time_package: false
{% endif -%}
{% if sgx in ['on', 'optional'] -%}
# Intel Software Guard Extensions (SGX)
sgx_enabled: {% if sgx == 'on' %}true{% else %}false{% endif %}
{% endif %}

{%- if telemetry in ['on', 'optional'] %}
# Telemetry configuration
# intel_pmu plugin collects information provided by Linux perf interface.
enable_intel_pmu_plugin: false

# CPU Threads to be monitored by Intel PMU Plugin.
# If the field is empty, all available cores will be monitored.
# Please refer to https://collectd.org/wiki/index.php/Plugin:Intel_PMU for configuration details.
intel_pmu_plugin_monitored_cores: ""

# CPU Threads to be monitored by Intel RDT Plugin.
# If the field is empty, all available cores will be monitored.
# Please refer to https://collectd.org/wiki/index.php/Plugin:IntelRDT for configuration details.
intel_rdt_plugin_monitored_cores: ""

# Additional list of plugins that will be excluded from collectd deployment.
exclude_collectd_plugins: []
{% endif %}
