---
apiVersion: v1
kind: Secret
metadata:
  name: prometheus-srv-basic-auth-secret
  namespace: monitoring
  labels:
    prometheus: k8s
    app.kubernetes.io/component: prometheus
    app.kubernetes.io/instance: k8s
    app.kubernetes.io/name: prometheus
type: Opaque
data:
  haSharedSecret: {{ htpasswd.stdout_lines[0] | b64encode }}
