---
{% if "http_proxy" in proxy_env %}
http_proxy: "{{ proxy_env.http_proxy }}"
{% endif %}
{% if "https_proxy" in proxy_env %}
https_proxy: "{{ proxy_env.https_proxy }}"
{% endif %}
{% if "no_proxy" in proxy_env %}
no_proxy: "{{ proxy_env.no_proxy }}"
{% endif %}

ctk_loadkey:
  main:
    image:
      repo: "{{ kmra.ctk_loadkey_demo.image_repo }}"
      name: "{{ kmra.ctk_loadkey_demo.image_name }}"
      tag: "{{ kmra.ctk_loadkey_demo.image_tag | default(kmra.image_tag) }}"
      pullPolicy: IfNotPresent
  init:
    image:
      repo: "{{ kmra.ctk_loadkey_demo.init_image_repo }}"
      name: "{{ kmra.ctk_loadkey_demo.init_image_name }}"
      tag: "{{ kmra.ctk_loadkey_demo.init_image_tag }}"
      pullPolicy: IfNotPresent
  nginx:
    image:
      repo: "{{ kmra.ctk_loadkey_demo.nginx_image_repo }}"
      name: "{{ kmra.ctk_loadkey_demo.nginx_image_name }}"
      tag: "{{ kmra.ctk_loadkey_demo.nginx_image_tag | default(kmra.image_tag) }}"
      pullPolicy: IfNotPresent
    port:  "{{ kmra.ctk_loadkey_demo.nginx_demo_port }}"
    hostname: "{{ kmra.ctk_loadkey_demo.nginx_demo_server_name | default('0.0.0.0')}}"
  pccs_port: "{{ kmra.pccs.upstream_port }}"
  pccs_hostname: "{{ kmra.pccs.hostname }}"
  apphsm_port: "{{ kmra.apphsm.upstream_port }}"
  apphsm_hostname: "{{ kmra.apphsm.hostname | trim}}"
  sgx_prv_gid: "{{ hostvars[groups['kube_node'][0]]['getent_group']['sgx_prv'][1] | default('1002')}}"
  sgx_gid: "{{ hostvars[groups['kube_node'][0]]['getent_group']['sgx'][1] | default('107')}}"
  use_secure_cert: "{{ kmra.ctk_loadkey_demo.use_secure_cert | quote }}"
  client_token: "{{ kmra.ctk_loadkey_demo.client_token }}"
  client_key_label: "{{kmra.ctk_loadkey_demo.client_key_label }}"
  test_unique_uid: "{{ kmra.ctk_loadkey_demo.test_unique_uid }}"
  default_user_pin: "{{ kmra.ctk_loadkey_demo.default_user_pin }}"
  default_so_pin: "{{ kmra.ctk_loadkey_demo.default_so_pin }}"
  default_client_token_id: "{{ kmra.ctk_loadkey_demo.default_client_token_id }}"
  pkcs11_proxy_tls_psk: "{{ kmra.ctk_loadkey_demo.pkcs11_proxy_tls_psk }}"
  pkcs11_proxy_tls_psk_file: "{{ kmra.ctk_loadkey_demo.pkcs11_proxy_tls_psk_file }}"
  pkcs11_daemon_socket_hostname: "{{ kmra.ctk_loadkey_demo.pkcs11_daemon_socket_hostname }}"
  pkcs11_daemon_socket_port: "{{ kmra.ctk_loadkey_demo.pkcs11_daemon_socket_port }}"
