<keystore xmlns="urn:ietf:params:xml:ns:yang:ietf-keystore">
    <asymmetric-keys>
        <asymmetric-key>
            <name>serverkey</name>
            <algorithm>rsa2048</algorithm>
            <public-key>{{ key_str.stdout }}</public-key>
            <private-key>cGtjczExOnRva2VuPXRva2VuX3NlcnZlcjtvYmplY3Q9Y2xpZW50X2tleV9wcml2O3Bpbi12YWx1ZT0xMjM0Ow==</private-key>
            <certificates>
                <certificate>
                    <name>servercert</name>
                    <cert>{{ crt_str.stdout }}</cert>
                </certificate>
            </certificates>
        </asymmetric-key>
    </asymmetric-keys>
</keystore>
