{
  "hosts": [
    "{{ service_name }}.{{ k8s_namespace }}.svc.{{ csr_cluster_name | default("cluster.local") }}",
    "{{ service_name }}.{{ k8s_namespace }}.svc",
    "{{ service_name }}.{{ k8s_namespace }}",
    "{{ service_name }}"
  ],
  "CN": "{{ service_name }}.{{ k8s_namespace }}.svc",
  "key": {
    "algo": "rsa",
    "size": 2048
  }
}
