[Unit]
Description=ufs configuration on boot

[Service]
Type=oneshot

{% if ufs.max is defined %}
ExecStart={{ (project_root_dir, 'CommsPowerManagement', 'power.py') | path_join }} -U {{ ufs.max }}
{% endif %}
{% if ufs.min is defined %}
ExecStart={{ (project_root_dir, 'CommsPowerManagement', 'power.py') | path_join }} -u {{ ufs.min }}
{% endif %}

[Install]
WantedBy=multi-user.target
