[Unit]
Description=Intel BM RA SR-IOV configuration and driver bindings for network interfaces
AssertPathExists=/usr/local/bin/bmra_sriov_nic_init

[Service]
Environment=DEVBIND_TOOL=/usr/local/bin/dpdk-devbind.py
Environment=SRIOV_NUMVFS_MAPPINGS={{ sriov_config_path }}/bmra_sriov_numvfs
Environment=DEVICE_DRIVER_MAPPINGS={{ sriov_config_path }}/bmra_interfaces
Type=oneshot
ExecStartPre=/bin/sleep 10
ExecStart=/usr/local/bin/bmra_sriov_nic_init

[Install]
WantedBy=multi-user.target
