[Unit]
Description=ddp-ice configuration on boot
AssertPathExists=/sbin/modprobe

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 5
ExecStart=/sbin/modprobe -r {% if (ansible_distribution == "Ubuntu" and ansible_distribution_version == "22.04") %}irdma{% endif %} ice
ExecStart=/sbin/modprobe ice {% if (ansible_distribution == "Ubuntu" and ansible_distribution_version == "22.04") %}irdma{% endif %}

[Install]
WantedBy=multi-user.target
