argv:
  - --skip-confirmation
{% if service_mesh.context is defined and service_mesh.context != '' %}
  - --context
  - {{ service_mesh.context }}
{% endif -%}
{% if service_mesh.filename is defined and service_mesh.filename != [] %}
{% for item in service_mesh.filename %}
  - --filename
  - {{ item }}
{% endfor -%}
{% endif -%}
{% if service_mesh.namespace is defined and service_mesh.namespace != '' %}
  - --namespace
  - {{ service_mesh.namespace }}
{% endif -%}
{% if service_mesh.istio_namespace is defined and service_mesh.istio_namespace != '' %}
  - --istioNamespace
  - {{ service_mesh.istio_namespace }}
{% endif -%}
{% if service_mesh.kubeconfig is defined and service_mesh.kubeconfig != '' %}
  - --kubeconfig
  - {{ service_mesh.kubeconfig }}
{% endif -%}
{% if service_mesh.vklog is defined and service_mesh.vklog != '' %}
  - --vklog
  - {{ service_mesh.vklog }}
{% endif -%}
{% if service_mesh.revision is defined and service_mesh.revision != '' %}
  - --revision
  - {{ service_mesh.revision }}
{% endif -%}
{% if service_mesh.manifest is defined and service_mesh.manifest != '' %}
  - --manifests
  - {{ service_mesh.manifest }}
{% endif -%}
{% if service_mesh.dry_run is defined and service_mesh.dry_run | bool %}
  - --dry-run
{% endif -%}
{% if service_mesh.force is defined and service_mesh.force | bool %}
  - --force
{% endif -%}
{% if service_mesh.readiness_timeout is defined and service_mesh.readiness_timeout != '' %}
  - --readiness-timeout
  - {{ service_mesh.readiness_timeout }}
{% endif -%}
{% if service_mesh.set is defined and service_mesh.set != [] %}
{% for item in service_mesh.set %}
  - --set
  - {{ item }}
{% endfor -%}
{% endif -%}
{% if service_mesh.verify is defined and service_mesh.verify | bool and service_mesh.profile != 'empty' %}
  - --verify
{% endif -%}
{% if service_mesh.profile in ['default', 'demo', 'minimal', 'external', 'empty', 'preview'] %}
  - --set profile={{ service_mesh.profile }}
{% else %}
  - --filename={{ service_mesh_profiles_dir }}/{{ service_mesh.profile }}.yaml
{% endif -%}
