apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ service_mesh.tcpip_bypass_ebpf.name }}
  namespace: {{ service_mesh.tcpip_bypass_ebpf.namespace }}
  labels:
    k8s-app: {{ service_mesh.tcpip_bypass_ebpf.name }}
spec:
  selector:
    matchLabels:
      name: {{ service_mesh.tcpip_bypass_ebpf.name }}
  template:
    metadata:
      labels:
        name: {{ service_mesh.tcpip_bypass_ebpf.name }}
    spec:
      tolerations:
      # this toleration is to have the daemonset runnable on master nodes
      # remove it if your masters can't run pods
      - key: node-role.kubernetes.io/master
        effect: NoSchedule
      containers:
      - name: {{ service_mesh.tcpip_bypass_ebpf.name }}
        image: {{ service_mesh.tcpip_bypass_ebpf.image }}
        imagePullPolicy: IfNotPresent
        securityContext:
            privileged: true
        volumeMounts:
        - name: sysfs
          mountPath: /sys/fs
        env:
        - name: BPF_BYPASS_TCPIP
          value: "enabled"
      volumes:
      - name: sysfs
        hostPath:
          path: /sys/fs
