#cloud-config
users:
  - name: root
    ssh-authorized-keys:
      - {{ lookup('file', '/root/.ssh/id_rsa.pub') }}
      - {{ lookup('file', '/home/{{ item.0.id }}/.ssh/id_rsa.pub') }}
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    groups: sudo
    shell: /bin/bash

{% if item.1.type == "work" %}
runcmd:
  - echo 1 > /sys/module/vfio/parameters/enable_unsafe_noiommu_mode
{% endif %}

{% if item.1.type == "jump" %}
package_update: true
packages:
  - python3-pip

runcmd:
  - pip3 install ansible==2.9.17
  - git clone --recurse-submodules --depth 1 https://github.com/intel/container-experience-kits.git -b v21.03 /root/container-experience-kits
  - sed -i 's/ssh_args.*/& -o ServerAliveInterval=60 -o ServerAliveCountMax=10/g' /root/container-experience-kits/ansible.cfg

write_files:
  - path: /root/.ssh/id_rsa
    content: |
      {{ lookup('file', '/home/{{ item.0.id }}/.ssh/id_rsa') }}
    permissions: '0600'
  - path: /root/.ssh/id_rsa.pub
    content: {{ lookup('file', '/home/{{ item.0.id }}/.ssh/id_rsa.pub') }}
    permissions: '0644'
{% endif %}
