---
{% if vm_image_distribution == "ubuntu" %}
{% if vm_image_version_ubuntu == "22.04" %}
vm_image_url: "https://cloud-images.ubuntu.com/jammy/current/{{ vm_image }}"

vm_image_checksums: "https://cloud-images.ubuntu.com/jammy/current/MD5SUMS"
{% else %}
vm_image_url: "https://cloud-images.ubuntu.com/releases/{{ vm_image_version_ubuntu }}/release/{{ vm_image }}"

vm_image_checksums: "https://cloud-images.ubuntu.com/releases/{{ vm_image_version_ubuntu }}/release/MD5SUMS"
{% endif %}
vm_image_destination_file: "{{ vm_project_root_dir }}/{{ vm_image }}"
{% elif vm_image_distribution == "rocky" %}
vm_image_url: "https://dl.rockylinux.org/vault/rocky/{{ vm_image_version_rocky }}/images/{{ vm_image }}"

vm_image_checksums: "https://dl.rockylinux.org/vault/rocky/{{ vm_image_version_rocky }}/images/CHECKSUM"
vm_image_destination_file: "{{ vm_project_root_dir }}/{{ vm_image }}"
{% endif %}
