[Unit]
Description=SST-CP configuration on boot
AssertPathExists=/usr/bin/intel-speed-select

[Service]
Type=simple
ExecStart=/usr/bin/sst_cp_config_icx.sh

[Install]
WantedBy=multi-user.target
