apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: userspace-vpp
  namespace: default
spec:
  config: |
    {
      "cniVersion": "0.4.0",
      "type": "userspace",
      "name": "memif-network",
{% if hostvars[groups['kube_node'][0]]['ansible_system_vendor'] == "Amazon EC2" %}
      "kubeconfig": "/root/.kube/config",
{% elif hostvars[groups['kube_node'][0]]['ansible_system_vendor'] == "Microsoft Corporation" %}
      "kubeconfig": "/var/lib/kubelet/kubeconfig",
{% else %}
      "kubeconfig": "/etc/kubernetes/kubelet.conf",
{% endif %}
      "host": {
        "engine": "vpp",
        "iftype": "memif",
        "netType": "bridge",
        "memif": {
          "role": "master",
          "mode": "ethernet"
        },
        "bridge": {
          "bridgeName": "4"
        }
      },
      "container": {
        "engine": "vpp",
        "iftype": "memif",
        "netType": "interface",
        "memif": {
          "role": "slave",
          "mode": "ethernet"
        }
      },
      "ipam": {
        "type": "host-local",
        "subnet": "10.56.217.0/24",
        "rangeStart": "10.56.217.131",
        "rangeEnd": "10.56.217.190",
        "routes": [
          {
            "dst": "0.0.0.0/0"
          }
        ],
        "gateway": "10.56.217.1"
      }
    }
