---
apiVersion: deviceplugin.intel.com/v1
kind: DlbDevicePlugin
metadata:
  name: intel-dlb-device-plugin
  # example apparmor annotation
  # see more details here:
  #  - https://kubernetes.io/docs/tutorials/clusters/apparmor/#securing-a-pod
  #  - https://github.com/intel/intel-device-plugins-for-kubernetes/issues/381
{% if ansible_distribution == "Ubuntu" %}
  annotations:
    container.apparmor.security.beta.kubernetes.io/intel-dlb-plugin: {{ dlb_dp_apparmor_profile }}
{% endif %}
spec:
  image: {{ intel_dlb_dp_image }}
  logLevel: {{ dlb_dp_verbosity | default(4) }}
  nodeSelector:
    intel.feature.node.kubernetes.io/dlb: "true"
