apiVersion: v1
kind: Service
metadata:
  name: {{ intel_ethernet_operator_cache_webserver_name }}
  namespace: {{ intel_ethernet_operator_namespace }}
  labels:
    app: {{ intel_ethernet_operator_cache_webserver_name }}
    version: {{ intel_ethernet_operator_git_ref }}
spec:
  selector:
    app: {{ intel_ethernet_operator_cache_webserver_name }}
  ports:
  - name: {{ intel_ethernet_operator_cache_webserver_name }}
    port: 80
    targetPort: webserver-port
    protocol: TCP
