[Unit]
Description=ddp-ice configuration on boot
AssertPathExists=/sbin/modprobe
Before=kubelet.service

[Service]
Type=oneshot
{% if 'irdma' in ieo_lsmod.stdout %}
ExecStart=/sbin/modprobe -r irdma ice
ExecStart=/sbin/modprobe -a ice irdma
{% else %}
ExecStart=/sbin/modprobe -r ice
ExecStart=/sbin/modprobe -a ice
{% endif %}

[Install]
WantedBy=multi-user.target
