apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: intel-ethernet-operator-sub
  namespace: {{ intel_ethernet_operator_namespace }}
spec:
{% if http_proxy is defined or https_proxy is defined %}
  config:
    env:
    - name: HTTP_PROXY
      value: {{ http_proxy | d('') }}
    - name: HTTPS_PROXY
      value: {{ https_proxy | d('') }}
    - name: NO_PROXY
      value: {{ kube_service_addresses }},{{ kube_pods_subnet }}
{% endif %}
  channel: alpha
  name: intel-ethernet-operator
  source: {{ ieo_catalog_name }}
  sourceNamespace: olm
