---
# Source: container-registry/templates/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: {{release_name }}
  labels:
    app: container-registry
    release: {{ release_name }}
spec:
  type: NodePort
  ports:
    - port: {{ registry_proxy }}
      protocol: TCP
      name: nginx-https
      targetPort: nginx-https
      nodePort: {{ registry_nodeport }}
  selector:
    app: container-registry
    release: {{ release_name }}
