apiVersion: sriovfec.intel.com/v2
kind: SriovFecClusterConfig
metadata:
  name: config
  namespace: "{{ intel_sriov_fec_operator_namespace }}"
spec:
  priority: 1
  nodeSelector:
    kubernetes.io/hostname: "{{ fec_acc_node }}"
  acceleratorSelector:
    pciAddress: "{{ fec_acc_dev }}"
  physicalFunction:  
    pfDriver: pci-pf-stub
    vfDriver: vfio-pci
    vfAmount: 16
    bbDevConfig:
      acc200:
        # Pf mode: false = VF Programming, true = PF Programming
        pfMode: false
        numVfBundles: 16
        maxQueueSize: 1024
        uplink4G:
          numQueueGroups: 0
          numAqsPerGroups: 16
          aqDepthLog2: 4
        downlink4G:
          numQueueGroups: 0
          numAqsPerGroups: 16
          aqDepthLog2: 4
        uplink5G:
          numQueueGroups: 4
          numAqsPerGroups: 16
          aqDepthLog2: 4
        downlink5G:
          numQueueGroups: 4
          numAqsPerGroups: 16
          aqDepthLog2: 4
        qfft:
          numQueueGroups: 4
          numAqsPerGroups: 16
          aqDepthLog2: 4
  drainSkip: true