---
image:   
  repository: {{ qat_dp_image | default("docker.io/intel/intel-qat-plugin") }}
  tag: {{ intel_qat_dp_version | default("0.21.0") }}
  pullPolicy: IfNotPresent

drivers:
  dpdk: {{ qat_dp_dpdk_drivers }}
  kernel: {{ qat_dp_kernel_drivers }}

apparmor:
  enabled: {{ qat_dp_apparmor | default("true") }}
  profile: {{ qat_dp_apparmor_profile | default("unconfined") }}

maxNumDevices: 00
