---
image:   
  repository: {{ qat_dp_image | default("intel/intel-qat-plugin") }}
  tag: {{ qat_dp_version | default("0.19.0") }}
  pullPolicy: IfNotPresent

drivers:
  dpdk: {{ qat_dp_dpdk_drivers }}
  kernel: {{ qat_dp_kernel_drivers }}

maxNumDevices: {{ qat_dp_max_num_devices }}

apparmor:
  enabled: {{ qat_dp_apparmor | default("true") }}
  profile: {{ qat_dp_apparmor_profile | default("unconfined") }}
