argv:
  - {{ istio_dir }}/bin/istioctl
  - operator
  - init
{% if istio_dry_run is defined and istio_dry_run | bool %}
  - --dry-run
{% endif -%}
{% if istio_charts is defined and istio_charts != '' %}
  - --charts
  - {{ istio_charts }}
{% endif -%}
{% if istio_context is defined and istio_context != '' %}
  - --context
  - {{ istio_context }}
{% endif -%}
{% if istio_filename is defined and istio_filename != '' %}
  - --filename
  - {{ istio_filename }}
{% endif -%}
{% if istio_hub is defined and istio_hub != '' %}
  - --hub
  - {{ istio_hub }}
{% endif -%}
{% if istio_image_pull_secrets is defined and istio_image_pull_secrets != '' %}
  - --imagePullSecrets
  - {{ istio_image_pull_secrets }}
{% endif -%}
{% if istio_system_namespace is defined and istio_system_namespace != '' %}
  - --istioNamespace
  - {{ istio_system_namespace }}
{% endif -%}
{% if istio_config_namespace is defined and istio_config_namespace != '' %}
  - --namespace
  - {{ istio_config_namespace }}
{% endif -%}
{% if istio_operator_namespace is defined and istio_operator_namespace != '' %}
  - --operatorNamespace
  - {{ istio_operator_namespace }}
{% endif -%}
{% if istio_kubeconfig is defined and istio_kubeconfig != '' %}
  - --kubeconfig
  - {{ istio_kubeconfig }}
{% endif -%}
{% if istio_manifest is defined and istio_manifest != '' %}
  - --manifests
  - {{ istio_manifest }}
{% endif -%}
{% if istio_revision is defined and istio_revision != '' %}
  - --revision
  - {{ istio_revision }}
{% endif -%}
{% if istio_tag is defined and istio_tag != '' %}
  - --tag
  - {{ istio_tag }}
{% endif -%}
{% if istio_vklog is defined and istio_vklog != '' %}
  - --vklog
  - {{ istio_vklog }}
{% endif -%}
{% if istio_watched_namespaces is defined and istio_watched_namespaces != '' %}
  - --watchedNamespaces
  - {{ istio_watched_namespaces }}
{% endif -%}
