##
##   Copyright (c) 2020-2022 Intel Corporation.
##
##   Licensed under the Apache License, Version 2.0 (the "License");
##   you may not use this file except in compliance with the License.
##   You may obtain a copy of the License at
##
##       http://www.apache.org/licenses/LICENSE-2.0
##
##   Unless required by applicable law or agreed to in writing, software
##   distributed under the License is distributed on an "AS IS" BASIS,
##   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
##   See the License for the specific language governing permissions and
##   limitations under the License.
##
---
- block:
    - name: remove opentelemetry resources
      command: kubectl delete -f ./
      args:
        chdir: "{{ (project_root_dir, 'opentelemetry') | path_join }}"
      failed_when: false
      changed_when: false

    - name: remove opentelemetry operator
      kubernetes.core.helm:
        release_name: "{{ opentelemetry_operator_chart_name }}"
        release_namespace: "{{ opentelemetry_operator_namespace }}"
        state: absent
      failed_when: false # quick workaround until proper cleanup is implemented (todo)

    - name: get opentelemetry secrets
      ansible.builtin.shell:
        cmd: kubectl get secrets -n monitoring | grep -E 'otel|opentelemetry' | awk '{ print $1 }'
      args:
        executable: /bin/bash
      register: otel_secrets
      failed_when: false
      changed_when: false

    - name: remove opentelemetry secrets
      kubernetes.core.k8s:
        kind: secret
        name: "{{ item }}"
        namespace: monitoring
        state: absent
      loop: "{{ otel_secrets.stdout_lines }}"

  tags:
    - opentelemetry
  when:
    - inventory_hostname == groups['kube_control_plane'][0]
