[Unit]
Description=Load ISST modules
AssertPathExists={{ kernel_source_code_dir }}/drivers/platform/x86/intel_speed_select_if/isst_if_common.ko
AssertPathExists={{ kernel_source_code_dir }}/drivers/platform/x86/intel_speed_select_if/isst_if_mbox_pci.ko
AssertPathExists={{ kernel_source_code_dir }}/drivers/platform/x86/intel_speed_select_if/isst_if_mmio.ko

[Service]
Type=oneshot
ExecStart=insmod {{ kernel_source_code_dir }}/drivers/platform/x86/intel_speed_select_if/isst_if_common.ko
ExecStart=insmod {{ kernel_source_code_dir }}/drivers/platform/x86/intel_speed_select_if/isst_if_mbox_pci.ko
ExecStart=insmod {{ kernel_source_code_dir }}/drivers/platform/x86/intel_speed_select_if/isst_if_mmio.ko

[Install]
WantedBy=multi-user.target
