---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: adq
rules:
  - apiGroups: [""]
    resources:
      - nodes/proxy
    verbs:
      - get
  - apiGroups: [""]
    resources:
      - nodes
    verbs:
      - list
  - apiGroups: [""]
    resources:
      - pods
    verbs:
      - get
      - watch
      - list
