---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: {{ intel_power_manager_namespace }}
  labels:
    control-plane: controller-manager
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: controller-manager
    spec:
      serviceAccountName: intel-power-operator
      containers:
        - command:
            - /manager
          args:
            - --enable-leader-election
          imagePullPolicy: IfNotPresent
          {% if intel_power_manager.build_image_locally -%}
          image: {{ intel_power_operator_image_local }}:{{ intel_power_manager_git_ref }}
          {% else -%}
          image: {{ intel_power_operator_image }}:{{ intel_power_manager_git_ref }}
          {% endif -%}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
          name: manager
          resources:
            limits:
              cpu: "{{ ( 100 + ( 100 * multiplier | float ) | int | abs ) }}m"
              memory: "{{ ( 30 + ( 30 * multiplier | float ) | int | abs ) }}Mi"
            requests:
              cpu: "{{ ( 100 + ( 100 * multiplier | float ) | int | abs ) }}m"
              memory: "{{ ( 30 + ( 30 * multiplier | float ) | int | abs ) }}Mi"
          volumeMounts:
            - mountPath: /sys/fs
              name: cgroup
              mountPropagation: HostToContainer
              readOnly: true
      terminationGracePeriodSeconds: 10
      volumes:
        - name: cgroup
          hostPath:
          path: /sys/fs
