---
apiVersion: "power.intel.com/v1alpha1"
kind: PowerProfile
metadata:
  name: shared-global
  namespace: {{ intel_power_manager_namespace }}
spec:
  name: "shared-global"
  max: {{ intel_power_manager.max_shared_frequency }}
  min: {{ intel_power_manager.min_shared_frequency }}
  epp: "power"
