---
apiVersion: "power.intel.com/v1"
kind: PowerProfile
metadata:
  name: shared-{{ node_name }}
  namespace: {{ intel_power_manager_namespace }}
spec:
  name: "shared-{{ node_name }}"
  max: {{ local_max_frequency }}
  min: {{ local_min_frequency }}
  epp: "power"
  governor: {{ local_pstate_governor }}
