# Do not change the name of this file
---
apiVersion: v1
kind: Pod
metadata:
  name: {{ profile_name }}-power-pod
  namespace: intel-power
spec:
  containers:
  - name: {{ profile_name }}-container
    image: busybox
    command: ["/bin/sh"]
    args: ["-c", "sleep 15000"]
    resources:
      # IMPORTANT: The amount of the Power Cores have to be the same as the amount of requested CPUs
      requests:
        memory: "200Mi"
        cpu: "2"
        power.intel.com/{{ profile_name }}-{{ node_name }}: "2"
      limits:
        memory: "200Mi"
        cpu: "2"
        power.intel.com/{{ profile_name }}-{{ node_name }}: "2"
