# Do not change the name of this file
---
apiVersion: v1
kind: Pod
metadata:
  name: {{ power_profile_name }}-power-pod-{{ power_node }}
  namespace: {{ intel_power_manager_namespace }}
spec:
  containers:
    - name: {{ power_profile_name }}-container
      image: busybox
      command: ["/bin/sh"]
      args: ["-c", "sleep 15000"]
      resources:
        # IMPORTANT: The amount of the Power Cores have to be the same as the amount of requested CPUs
        requests:
          memory: "{{ ( 200 + ( 200 * multiplier | float ) | int | abs ) }}Mi"
          cpu: "2"
          power.intel.com/{{ power_profile_name }}: "2"
        limits:
          memory: "{{ ( 200 + ( 200 * multiplier | float ) | int | abs ) }}Mi"
          cpu: "2"
          power.intel.com/{{ power_profile_name }}: "2"
  nodeSelector:
    kubernetes.io/hostname: {{ power_node }}
