---
image:
  repository: {{ cmk_image | default("localhost:5000/cmk") }}
  tag: {{ cmk_tag |  default("v1.4.0") }}
  pullPolicy: IfNotPresent

hosts:
  all: {{ cmk_use_all_hosts | default(false) }}
  list: {{ cmk_hosts_list | default("node1") }}

sharedMode: {{ cmk_shared_mode | default("packed") }}
numSharedCores: {{ cmk_shared_num_cores | default(1) }}
exclusiveMode: {{ cmk_exclusive_mode | default("packed") }}
numExclusiveCores: {{ cmk_exclusive_num_cores | default(1) }}

webhook:
  cert: {{ cmk_webhook_cert }}
  key: {{ cmk_webhook_key }}