---
apiVersion: deviceplugin.intel.com/v1
kind: GpuDevicePlugin
metadata:
  name: intel-gpu-plugin
spec:
  image: {{ intel_gpu_dp_image }}
  initImage: {{ intel_gpu_dp_init_image }}
  sharedDevNum: {{ gpu_dp_shared_devices | default(10) }}
  logLevel: {{ gpu_dp_verbosity | default(4) }}
  enableMonitoring: {{ gpu_dp_monitor_resources | default(false) }}
  resourceManager: {{ gpu_dp_fractional_manager | default(false) }}
  preferredAllocationPolicy: {{ gpu_dp_prefered_allocation | default('none') }}
  nodeSelector:
    intel.feature.node.kubernetes.io/gpu: "true"
