apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ prometheus_node_resource_reader | default("prometheus-adapter-tas-resource-reader") }}
rules:
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ prometheus_node_resource_reader | default("prometheus-adapter-tas-resource-reader") }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ prometheus_node_resource_reader | default("prometheus-adapter-tas-resource-reader") }}
subjects:
- kind: ServiceAccount
  name: {{ prometheus_adapter_service_account_name | default("custom-metrics-apiserver") }}
  namespace: {{ prometheus_custom_metrics_namespace | default("custom-metrics") }}